/* La propriété border box nous permettra d'ajouter du padding et des bordures à nos éléments sans incrémenter leur taille /
html
{
    box-sizing: border-box;
}

/ On fait hériter le border-box de notre sélecteur html à l'ensemble des autres sélecteurs */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body
{
    margin: 0;
}

h1, h2, h3, h4, p, ul
{
    margin: 0;
    padding: 0;
}

/* --------------------------------- NAVIGATION --------------------------------------------------------------- */



.header-top
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #235d37;
    justify-items: center;
    align-items: center;
    grid-gap: 15px;
    margin-bottom: 80px;
}

/*----------------- Menu Burger------------------ */

.nav-burger
{
    top: 86px;
    left: 0px;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Aldrich', sans-serif;
    transition: height .6s ease-out;
    background-color: white;
    overflow: hidden;
    position: absolute;
}

.nav-burger .icon-burger
{
    fill: black;
}

.nav-link-icon 
{
   margin-top: 40px;
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

.nav-link-icon a
{
   text-decoration: none;
   margin-right: 15px;
}

.navicon 
{
    background:white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.navicon:before
{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    
}

.navicon:after 
{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navicon:before
{
    top: 5px;
}

.navicon:after 
{
    top: -5px;
}

.menu-btn 
{
    display: none;
}

.menu-icon:hover
{
    cursor: pointer;
}

.burger-menu .menu-btn:checked ~ .nav-burger
{
    height: 100vh;
}


.burger-menu .menu-btn:checked ~ .menu-icon .navicon
{
    background: transparent;
}

.burger-menu .menu-btn:checked ~ .menu-icon .navicon:before 
{
    transform: rotate(-45deg);
}

.burger-menu .menu-btn:checked ~ .menu-icon .navicon:after 
{
    transform: rotate(45deg);
}

.burger-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.burger-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after 
{
    top: 0;
}

/*----------------- Fin Menu Burger ------------------ */


.header-logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo h1
{
    text-align: center;
    font-size: 36px;
}

.header-logo .icon-soccer-ball
{
    width: 3.5em;
    height: 3.5em;
}

.header-icon
{
    display: none;
}

.icon-nav
{
    margin-left: 15px;
}


.icon-link
{
    text-decoration: none;
}

.icon
{
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: white;  
    transition: fill 0.8s;
}

.nav-link
{
    display: inline;
    font-size: 24px;
    color: black;
    text-transform: uppercase;
    transition: 0.8s;
    text-decoration: none;
    margin-top: 40px;
    padding: 5px;
}

.nav-desktop
{
    display: none;
}


/* Effets d'hover */

.nav-link:hover
{
    color: white;
    background-color: black;
}

.icon-nav:hover
{
    fill: red;
}

/* ------------------------------------------- HOMEPAGE ------------------------------------------------------*/

.main-wrapper{
    width:90%;
    margin: 0 auto;
}

.title-boxes{
    text-align: center;
    background-color:white;
    width: 150px;
    padding:4px 0;
    margin: 30px auto 0 auto;
}

.news-title{
    width: 200px;
}

.news-block{
    margin-bottom:30px;
    height:400px;
    display:flex;
    flex-direction: column;
    background-color:blue;
}

.championship-boxes{
    background-color:blue;
    border-radius: 12px;
    height:300px;
    margin-bottom:30px;
}

.championship-one{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url('../img/ligue1-logo.webp');
    background-size: cover;
}

.championship-two{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url('../img/seriea.webp');
    background-size: cover;
}

.championship-three{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url('../img/bpl.webp');
    background-size: cover;
}

.championship-four{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url('../img/liga.webp');
    background-size: cover;
}

.country-player-wrapper{
    display:flex;
    flex-direction: column;
}

.country-player-block{
    height:300px;
    margin-bottom:30px;
    border-radius: 12px;
}

.country-block{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url('../img/france.webp');
    background-size: cover;
}

.player-block{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url('../img/ronaldinho.webp');
    background-size: cover;
}

/* ------------------------------------------- PRODUCTS LIST ------------------------------------------------------*/

.shop-block{
    margin-top: 80px;
    margin-bottom:30px;
    height:400px;
    display:flex;
    flex-direction: column;
    background-color:blue;
}

.shop-block h2{
    color: black;
}

.products-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.product-boxes
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 262px;
    height: 380px;
    background-color: grey;
    border-radius: 45px;
    margin-top: 50px;
}

.products-info
{
    margin-left: 10px;
    font-size: 16px;
}

.products-price
{
    margin-bottom: 18px;
}

.separator-info
{
    background-color: black;
    height: 1px;
    width: 240px;
    color: black;
    margin: 10px 0px 10px 10px;
}

/* ------------------------------------------- LOGIN_USER ------------------------------------------------------*/

.form-wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper h2
{
    color: black;
}





.form-control
{
    display: inline-block;
}






/* ------------------------------------------- FOOTER ------------------------------------------------------*/

footer
{
    display: flex;
    flex-direction: column;
    background-color:#235d37;
}

.footer-logo
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo h1
{
    margin-right: 10px;
}

.footer-nav
{
    display: flex;
    flex-direction: column;
}

.nav-link-footer
{
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
}

.nav-link-footer:hover
{
    color: red;
}

footer h2
{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.footer-social-icon
{
    display: flex;
    justify-content: center;
}

.footer-social-icon .icon-link
{
    margin: 0px 15px;
}

.icon-footer
{
    height: 3em;
    width: 3em;
}

.icon-footer:hover
{
    fill: red;
}

.footer-payment-icon
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.icon-payment
{
    margin: 0px 15px;
    height: 2.5em;
    width: 2.5em;
}





/* --- RESPONSIVE --- */

@media (min-width:425px){
    .championship-wrapper{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .championship-boxes{
        width:48%;
    }
}

@media (min-width:480px){
    .nav-link-icon
    {
        display: none;
    }

    .header-icon
    {
        display: block;
    }
}

@media (min-width:768px){
    .news-title{
        width:300px;
    }

    .header-top
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .header-logo
    {
        margin-left: 5%;
    }

    .header-icon
    {
        margin-right: 5%;
    }

    .burger-menu
    {
        display: none;
    }

    .nav-desktop
    {
        display: block;
        width: 90%;
        margin: auto;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;
        font-family: 'Aldrich', sans-serif;
    }

    /* Page Liste des produits */

    .products-wrapper
    {
        display: grid;
        grid-template-columns: repeat(auto-fill, 262px);
        justify-content: center;
        column-gap: 100px;
        row-gap: 50px;
    }

    .product-boxes
    {
        margin-bottom: 0px;
    }

    /* Footer */

    footer
    {
        display: grid;
        grid-template-areas: 
        "footer-logo title-social"
        "footer-nav footer-social-icon"
        "footer-payment-icon footer-payment-icon";
        justify-items: center;
        align-content: center;
    }

    .footer-nav
    {
        grid-area: footer-nav;
    }

    .footer-payment-icon
    {
        grid-area: footer-payment-icon;
    }
}

@media (min-width:1024px){
    .main-wrapper, .nav-desktop{
        width:85%;
    }

    .header-logo
    {
        margin-left: calc(7.5%);
    }

    .header-icon
    {
        margin-right: calc(7.5%);
    }
}

@media (min-width:1440px){
    .main-wrapper, .nav-desktop{
        width:1200px;
    }

    .championship-boxes{
        width:22%;
    }

    .country-player-wrapper{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .country-player-block{
        width:48%;
    }

    .header-logo
    {
        margin-left: calc(50% - 600px);
    }

    .header-icon
    {
        margin-right: calc(50% - 600px);
    }
}

@media (min-width:1800px){
    .main-wrapper, .nav-desktop{
        width:70%;
    }

    .header-logo
    {
        margin-left: calc(15%);
    }

    .header-icon
    {
        margin-right: calc(15%);
    }

    .products-wrapper
    {
        grid-template-columns: repeat(3, 262px);
    }

    footer
    {
        grid-template-columns: repeat(2, 900px);
        justify-content: center;
    }
}

/* ---------------------------------------------------- FICHE PRODUIT -------------------------------------------------------*/

.product-container{
    margin-top:60px;
    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap;
    justify-content: space-evenly; responsive */
}

.product-big-picture{
    width:250px;
    margin: 0 auto 30px auto;
}

.product-big-picture img{
    width:100%;
}

.product-more-container{
    margin:0 auto 30px auto;
    width:70px;
}

.product-more-picture{
    width:100%;
}

.product-size{
    margin-bottom:20px;
    background-color:white;
    border: 1px solid black;
}

.product-price{
    margin-bottom:20px;
}

.add-to-cart{
    background-color:white;
    border: 2px solid black;
    margin-bottom:20px;
}

.product-payment{
    margin-bottom:20px;
}

.payment-pictures{
    width:40px;
}

.product-infos-container{
    margin: 0 auto;
}

.production-description-container{
    white-space: nowrap;
}

.product-description{
    list-style: none;
    display:flex;
}

.product-container{
    font-size:16px;
}

.product-description-title{
    font-weight: bold;
}



/* RESPONSIVE */

@media (min-width:768px){
    .product-container{
        flex-direction: row;
    }

    .product-big-picture{
        order:2;
        width:300px;
        margin:0 70px 0 70px;
    }

    .product-more-container{
        order:1;
        flex-direction: column;
        display:flex;
        margin:0;
    }

    .product-infos-container{
        order:3;
        margin:0;
    }

    .product-more-picture{
        margin-bottom:20px;
    }
}