/* La propriété border box nous permettra d'ajouter du padding et des bordures à nos éléments sans incrémenter leur taille /
html
{
    box-sizing: border-box;
}

/ On fait hériter le border-box de notre sélecteur html à l'ensemble des autres sélecteurs */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body
{
    margin: 0;
}

h1, h2, p, ul
{
    margin: 0;
    padding: 0;
}

/* ---------------------------------NAVIGATION--------------------------------------------------------------- */

.header-top
{
    height: 130px;
    background-color: black;
}

.header-logo
{
    color: white;
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Aldrich', sans-serif;
}


.nav
{
    width: 90%;
    margin: auto;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.nav-link
{
    font-size: 24px;
    color: black;
    text-transform: uppercase;
    transition: 0.8s;
}

.nav-link:hover
{
    color: white;
    background-color: black;
}

/* ------------------------------------------- HOMEPAGE ------------------------------------------------------*/

.main-wrapper{
    width:90%;
    margin: 0 auto;
}

.title-boxes{
    text-align: center;
    background-color:white;
    width: 150px;
    padding:4px 0;
    margin: 30px auto 0 auto;
}

.news-title{
    width: 200px;
}

.news-block{
    margin-bottom:30px;
    height:400px;
    display:flex;
    flex-direction: column;
    background-color:blue;
}

.championship-boxes{
    background-color:blue;
    border-radius: 12px;
    height:300px;
    margin-bottom:30px;
}

.championship-one{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url('../img/ligue1-logo.webp');
    background-size: cover;
}

.championship-two{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url('../img/seriea.webp');
    background-size: cover;
}

.championship-three{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url('../img/bpl.webp');
    background-size: cover;
}

.championship-four{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url('../img/liga.webp');
    background-size: cover;
}

.country-player-wrapper{
    display:flex;
    flex-direction: column;
}

.country-player-block{
    height:300px;
    margin-bottom:30px;
    border-radius: 12px;
}

.country-block{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url('../img/france.webp');
    background-size: cover;
}

.player-block{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), url('../img/ronaldinho.webp');
    background-size: cover;
}

/* --- RESPONSIVE --- */

@media (min-width:425px){
    .championship-wrapper{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .championship-boxes{
        width:48%;
    }
}

@media (min-width:768px){
    .news-title{
        width:300px;
    }
}

@media (min-width:1024px){
    .main-wrapper{
        width:85%;
    }
}

@media (min-width:1440px){
    .main-wrapper{
        width:1200px;
    }

    .championship-boxes{
        width:22%;
    }

    .country-player-wrapper{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .country-player-block{
        width:48%;
    }
}

@media (min-width:1800px){
    .main-wrapper{
        width:70%;
    }
}
